// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$primary :  #E5533D;
// $secondary : #6C757D;
// $warning: #F1C40F;
// $light : #F8F9FA;
// $dark: #343A40;
// $success : #2ECC71;
