// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$primary : #591C32;
$secondary : #F2C2D4;
$warning: #D99F59;
// $light : #F2DFE6;
$success : #259c49;
